<div class="container p-4">
    <div class="row">
        {{#each products}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                        <p class="card-title fecha-vencimiento">Vence el: {{fecha_caducidad}}</p>
                    
                    <p class="description m-2 ">{{description}}</p>
                    <p class="">{{timeago created_at}} Por: {{fullname}}</p>
                    <div class="col-md-12 container-buttons-list">
                        {{!-- <a href="/products/delete/{{id_product}}" class="btn btn-danger">Borrar</a> --}}
                        <a href="/products/edit/{{id_product}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card-body text-center">
                <p class="empty-message">No hay productos aun.</p>
                <a href="/products/add" class="url-add">Agregar uno</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>