<div class="container p-4">
    <div class="row">
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">

                    <h3 class="card-title text-uppercase">
                        {{editarDonacion.productname}}
                    </h3>
                    <p class="card-title fecha-vencimiento">Vence el: {{editarDonacion.fechacaduc}}</p>

                    <p class="description m-2 ">{{editarDonacion.descripcionproduct}}</p>
                    <p class="">{{timeago created_at}} Por: {{editarDonacion.contacto}}</p>
                    <div class="col-md-12 container-buttons-list">
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>