<div class="product-donacion-container container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-add-solitudes">
        <h3 class="text-update-solicitudes">Esta es tu lista de Donaciones</h3>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        </div>
    </nav>
    <div class="search-container">
        <input type="text" id="myInput" onkeyup="filterTableFunctionList()" placeholder="Buscar donacion...">
    </div>
    <div class="row">
        {{#each listaDonaciones}}
        <a href="/donaciones/editarDonacion/{{id_donaciones}}">
            <div class="example-1 card col-md-4">
                <div id="carta-donacion" class="wrapper">
                    <div class="date">
                        <span class="day"><a href="/donaciones/editarDonacion/{{id_donaciones}}">ID:
                                {{id_donaciones}}</a></span>
                    </div>
                    <div class="data">
                        <div class="content">
                            <span class="author"><strong>Donador:</strong> {{contacto}}</span>
                            <span class="author"><strong>Correo:</strong> {{correo}}</span>
                            <span class="author"><strong>Telefono:</strong> {{telefono}}</span>
                            <span class="author">{{create_at}}</span>
                            <h4 class="title"><a href="#">{{productname}}</a></h4>
                            <p class="text">{{descripcionproduct}}</p>

                        </div>
                        {{!-- <input type="checkbox" id="show-menu" /> --}}

                        <ul class="menu-content">
                            <li>
                                <label for="cantidad-product" class="cantidad-product-donada">Cantidad donada</label>
                                <a href="#" class="cantidad-ahref" id="cantidad-product">{{cantidadproduct}}</a>
                            </li>
                            <li>
                                <label for="cantidad-product" class="cantidad-product-donada">Identificacion
                                    Caja</label>
                                <a href="#" class="cantidad-ahref" id="cantidad-product">{{identidicacioncaja}}</a>
                            </li>
                            <li>
                                <label for="cantidad-product" class="cantidad-product-donada">Fecha Caducidad</label>
                                <a href="#" class="cantidad-ahref" id="cantidad-product">{{fechacaduc}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>