<div class="container p-4">
    <div class="row">
        <div class="col-md-9 mx-auto form-style">
            <div class="card text-center box-shadow">
                <div class="card-header">
                    <p class="text-ayuda">Carta de solicitud de donacion</p>
                </div>
                <div class="card-body">

                    <form action="/ayuda-humanitaria/formulario-ayuda-humanitaria/{{cartas_ayuda.id_cartas_ayuda}}" method="POST">
                        <div class="form-group">
                            <input type="text" name="fullname" id="" placeholder="Nombre Completo" class="form-control"
                                value="{{cartas_ayuda.fullname}}">
                        </div>

                        <div class="form-group">
                            <input type="text" name="direccion" placeholder="Ubicación" class="form-control"
                                value="{{cartas_ayuda.direccion}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" placeholder="Teléfono" class="form-control"
                                value="{{cartas_ayuda.telefono}}">
                        </div>
                        <div class="form-group">
                            <input type="email" name="correo" placeholder="Correo" class="form-control"
                                value="{{cartas_ayuda.correo}}">
                        </div>

                        <div class="form-group">
                            <input type="text" name="nombre_razon" placeholder="Empresa (opcional)" class="form-control"
                                value="{{cartas_ayuda.nombre_razon}}">
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion"
                                placeholder="Escribenos el por que quieres donar algo a la fundacion"
                                class="form-control">{{cartas_ayuda.descripcion}}</textarea>
                        </div>

                        <div class="form-group" style="visibility: hidden;">
                            <input type="text" name="id_tipo_usuario" id="" placeholder="tipo_usuario" class="form-control"
                                value="{{cartas_ayuda.id_tipo_usuario}}">
                        </div>

                        <div class="form-group">
                            {{!-- <button class="btn btn-success">
                                Aprobar al carta
                            </button> --}}

                              <a href="/ayuda-humanitaria/aprobar/{{cartas_ayuda.id_cartas_ayuda}}" class="btn btn-success"> Aprobar al carta</a>
                            <a href="/ayuda-humanitaria/enproceso/{{cartas_ayuda.id_cartas_ayuda}}" class="btn btn-warning">En
                                Proceso</a>
                            <a href="/ayuda-humanitaria/anular/{{cartas_ayuda.id_cartas_ayuda}}" class="btn btn-danger">Anular</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>