<div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-add-user">
        <h3 class="text-update-user">Actualizar Usuario</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    {{!--Vista de formulario de registro--}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Datos del usuario: {{listusers.fullname}}</h3>
                    </div>
                    <div class="card-body">
                        <form action="/users/updateuser/{{listusers.id_usuario}}" method="POST">
                            <div class="image-avatar-container container">
                                <div class="image-subcontainer row">
                                    <img src="/uploads/{{listusers.avatar_image}}" name="avatar_image" alt="" class="avatar_image">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="fullname" placeholder="Nombre Completo" class="form-control"
                                    autofocus value="{{listusers.fullname}}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" id="" placeholder="Username" class="form-control" value="{{listusers.username}}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre_razon"
                                    placeholder="Nombre (hospital, casa hogar, colegio)" class="form-control" value="{{listusers.nombre_razon}}" >
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Seleccione</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" name="id_tipo_usuario" >
                                       
                                        <option value="{{listusers.id_tipo_usuario}}" >{{listusers.descripcion_tipo_usuario}}</option>
                                       
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="telefono" placeholder="Telefono" class="form-control" value="{{listusers.telefono}}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="correo" placeholder="Correo electronico" class="form-control" value="{{listusers.correo}}" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="direccion" placeholder="Direccion" class="form-control" value="{{listusers.direccion}}" >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Actualizar datos de Usuario
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>