<div class="container ">
    <div class="row">

        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-add-solitudes">
            <h3 class="text-update-solicitudes">Lista de Usuarios Registrados</h3>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item btn btn-primary" href="/signup">Agreagar Usuario<span
                            class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>

        <input type="text" id="myInput" onkeyup="filterTableFunction()" placeholder="Buscar usuario...">
        <table class="table table-bordered solicitud-table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">correo</th>
                    <th scope="col">telefono</th>
                    <th scope="col">Tipo de Usuario</th>
                    <th scope="col">Fecha de registro</th>
                </tr>
            </thead>
            {{#each list_users}}
            <tbody>
                <tr class="tr-content">
                    <th scope="row"><a href="/users/updateuser/{{id_usuario}}">{{id_usuario}}</a></td>
                    <td>{{fullname}}</td>
                    <td>{{correo}}</td>
                    <td>{{telefono}}</td>
                    <td>{{descripcion_tipo_usuario}}</td>
                    <td>{{timeago create_at}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>